

.program-id-div {
    background: url(../imgs/blueBg2.png);
    padding: 10px 16px 12px 16px;
    border-radius: 10px;
    width: 250px;
}
.program-id-section > a {
    color: #333;
}
.activity-center {
    background: rgba(0,164,158,0.8);
    padding: 20px 10px;
    margin: 14px auto;
    border-radius: 10px;
    width: 250px;
}
.activities_link {
    background: url(../imgs/program_center_div.png);
    background-size: 100% 100%;
    margin-bottom: 6px;
    padding: 9px 0px 10px 0px;
    line-height: 1;
}
.activities_link a {
    color: #000;
}
.activities_link a {
    font-size: 18px;
    font-weight: 600;
}
.program-frame {
    width: 100%;
    padding: 50px 210px 50px 0px;
}
.right-side {
    float: right;
}
.group-div-bottom-button {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 71%;
    font-size: 20px;
    color: #333;
    right: 4px;
}
.program-id-section {
    background: url(../imgs/program_div.png);
    background-size: 100% 100%;
    padding: 2px 30px 3px 0px;
    margin-top: 1px;
    font-size: 15px;
    font-weight: 600;
    text-align: right;
    height: 24px;
}